.topelementsSEarchResults{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 106%;
    margin-left: -35px;
    margin-top: 40px;
}
.arrwosearch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: purple; */

}
.backBTNSearch{
    border: none;
    background-color: #1e2022;
    color: white;
    align-items: center;
    border-radius: 2px;
    height: 36px;
    width: 47px;
}

.backARROWPRO{
    /* padding: 2px 4px ; */
    margin-right: 10px;
    color: white;
    /* background-color: black; */
    border: none;
    border-radius: 10px;
}